@media screen and (max-width:768px){
    #for-user{
        display: none;
    }
}
@media screen and (max-width:425px){
    #phone{
        height: 100% !important;
        width: 90% !important;
    }
}