*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}
::selection{
    background-color: transparent !important;
}
/* Transation */
:root{
    --trs-2s : all ease-in-out 0.2s;
    --trs-3s : all ease-in-out 0.3s;
}
::-webkit-scrollbar {
    width: 0px;
}
::-webkit-scrollbar-track {
    background: transparent; 
} 
::-webkit-scrollbar-thumb {
    background: transparent; 
}
::-webkit-scrollbar-thumb:hover {
    background: transparent; 
}
body{
    display: flex;
}
svg > path{
    fill: #ffffff;
}



/* LOADING */
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
}
#loading > span{
    padding: 20px;
    border-radius: 50%;
    border: 5px solid white;
    border-top-color: #2ecc71;
    animation-name: loadFun;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}
@keyframes loadFun {
    25%{
        border-color: #ffffff;
        border-right-color: #2ecc71;
    }
    50%{
        border-color: #ffffff;
        border-bottom-color: #2ecc71;
    }
    75%{
        border-color: #ffffff;
        border-left-color: #2ecc71;
    }
    100%{
        border-color: #ffffff;
        border-top-color: #2ecc71;
    }
}







/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
                    /* MAIN */
/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
#main{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: rotateY(00deg);
    overflow: auto;
    background: #2c3e50;
}


/* +++++++++++++++++++++++++++++++++++++++++++++ */
                    /* TORCH */
/* +++++++++++++++++++++++++++++++++++++++++++++ */
#torch{
    position: absolute;
    height: 159.9mm;
    width: 76.7mm;
    padding: 10px;
    border-radius: 40px; 
}
#torch > span{
    width: 100%;
    height: 50%;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    right: -10%;
    top: -5%;
    box-shadow:  0px 0px 100px 200px #ffffff;
    display: none;
}


/* +++++++++++++++++++++++++++++++++++++++++++++ */
                    /* Phone */
/* +++++++++++++++++++++++++++++++++++++++++++++ */
#phone{
    position: relative;
    height: 159.9mm;
    width: 76.7mm;
    padding: 10px;
    border: 3px solid #424652;
    border-radius: 40px;
    box-shadow: inset 0px 0px 0px 7px black;
    background: url('img/bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
    margin: auto;
}
#phone::before{
    content: '';
    position: absolute;
    left: -5px;
    top: 15%;
    height: 5%;
    width: 1%;
    background: black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}
#phone::after{
    content: '';
    position: absolute;
    right: -5px;
    top: 25%;
    height: 10%;
    width: 1%;
    background: black;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ====================== */
       /* cam-box */
/* ====================== */
#cam-box{
    width: 25%;
    height: 3.5%;
    border-radius: 50px;
    background: black;
    position: absolute;
    left: 37.5%;
    top: 13px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    z-index: 99;
    transition: var(--trs-3s);
}
#cam-box > span{
    position: absolute;
    padding: 6px;
    border-radius: 50%;
    margin-right: 5px;
    background: #15153B;
}
#icons{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 50%;
    overflow: hidden;
}
#icons #lock-icon{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left: -100%;
    transition: var(--trs-3s);
}
#icons #lock-icon svg{
    height: 0.60rem;
    transition: var(--trs-3s);
}







/* ====================== */
    /* phone-inner */
/* ====================== */
#phone-inner{
    position: absolute;
    top: 7px;
    left: 7px;
    height: calc(100% - 14px);
    width: calc(100% - 14px);
    border-radius: 30px;
    transition: var(--trs-2s);
    z-index: 5;
}
/* lOCK SCREEN */
#lock-screen{
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
/* top bar */
#lock-screen #top-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
    gap: 0px 5px;
    position: relative;
    top: 6.5px;
}
#lock-screen #top-bar span svg{
    height: 0.85rem;   
}

/* time box */
#lock-screen #time-box{
    display: grid;
    position: relative;
    top: 15%;
}
#lock-screen #time-box span:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}
#lock-screen #time-box span:nth-child(2){
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
}
/* bottom-bar */
#lock-screen  #bottom-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 10px;
    position: absolute;
    bottom: 15px;
    left: 0px;
    width: 100%;
    z-index: 2;
}
#lock-screen  #bottom-bar span{
   padding: 10px;
   height: 50px;
   width: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: rgba(128, 128, 128, 0.5);
}
#lock-screen  #bottom-bar span:hover{
   background: rgba(128, 128, 128, 0.6);
}
#lock-screen  #bottom-bar span svg{
    height: 1.3rem;
}
/* bottom-swip */
#bottom-swip{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 60%;
    width: 100%;
    overflow-y: auto;
}
#border,
#border2{
    border: 2px solid #ffffff;
    width: 40%;
    border-radius: 10px;
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 30%;
    transition: var(--trs-2s);
}
#extra-space{
    height: 15000%;
}


/* LOCK PAD */
#lock-pad{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    scale: 0;
    transition: var(--trs-3s);

}
/* Password Box */
#lock-pad #pass-box{
    position: absolute;
    left: 0px;
    top: 22.5%;
    width: 100%;
    height: 10%;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-gap: 10px 0px;
}
#lock-pad #pass-box > span:nth-child(1){
    color: #ffffff;
    font-size: 0.85rem;
    letter-spacing: 1px;
    font-weight: bold;
    transition: var(--trs-2s);
}
#lock-pad #pass-box > span:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px 10px;
}
#lock-pad #pass-box > span:nth-child(2) > span{
    padding: 0.2rem;
    border: 1px solid #ffffff;
    border-radius: 50%;
}
/* key-box */
#lock-pad  #key-box{
    position: absolute;
    left: 0px;
    top: 35%;
    width: 100%;
    height: 50%;
    display: grid;
    align-items: center;
    align-content: center;
    grid-gap: 5%;
    overflow: hidden;
}
#lock-pad  #key-box > div{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    gap: 0px 5%;
}
#lock-pad  #key-box > div span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
#lock-pad  #key-box > div span:hover{
    background: rgba(255, 255, 255, 0.2);
}
/* bottom-box */
#lock-pad #btom-box{
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 100%;
    height: 10%;
    overflow: hidden; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#lock-pad #btom-box > span{
    color: #ffffff;
    font-size: 0.9rem;
    padding: 5px 10px;
}
#lock-pad #btom-box > span:hover{
    color: lightgray;
}
#lock-pad #btom-box > span:active{
    color: darkgray;
}






















/* Swip up GO TO HOME SCREEN */
#bottom-swip-home{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 60%;
    width: 100%;
    overflow-y: auto;
    display: none;
}
#extra-space-home{
    height: 15000%;
}
#border2{
    display: none;
}

/* ====================== */
    /* home-screen */
/* ====================== */
#home-screen{
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    position: absolute;
    left: 7px;
    top: 7px;
    border-radius: 30px;
    overflow: hidden;
    display: none;
    z-index: 10;
}
#home-screen-content{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    scale: 1.2;
    padding: 10px;
    transition: var(--trs-3s);
}
/* Home Top Bar */
#home-screen-content #home-top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0px 15px;
    gap: 0px 5px;
    position: relative;
}
#home-screen-content  #home-top-bar div span svg,
#home-screen-content  #home-top-bar div span{
    height: 0.85rem;   
    color: #ffffff;
}
/* APPS Display */
#home-main-display{
    padding: 5px 0px 0px 0px;
    display: grid;
}
#home-main-display table tr td{
    width: 25%;
    height: 12.5%;
    padding: 5px;
}
#home-main-display table tr td > span{
    height: 100%;
    width: 100%;
    display: block;
}
#home-main-display table tr td img,
#home-main-display table tr td p{
    height: 80%;
    width: 80%;
    border-radius: 10%;
    color: #ffffff;
    font-size: 0.80rem;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#home-main-display table tr td table{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    box-sizing: content-box !important;
    padding: 5px 10px;
}
#home-main-display table tr td table tr td{
    width: 25%;
    height: 100%;
}









































/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
                    /* FOR USER */
/* |||||||||||||||||||||||||||||||||||||||||||||||||| */
#for-user{
    position: relative;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 30%;
    display: grid;
    align-items: center;
    align-content: center;
    background: #2c3e50;
    padding: 0px 20px;
}
#for-user > span:nth-child(1){
    display: grid;
    align-items: center;
    align-content: center;
    grid-gap: 5px 0px;
}
#for-user > span:nth-child(1) p{
    color: #ffffff;
    font-size: 0.85rem;
    font-weight: bold;
    letter-spacing: 1px;
}
#for-user > span:nth-child(1) input{
    padding: 10px;
    text-align: left;
    outline: none;
}
#for-user > span:nth-child(1) button{
    padding: 10px;
    color: #ffffff;
    background: #27ae60;
    border: none;
    font-weight: bold;
}
#for-user > span:nth-child(1) button:hover{
    background: #2ecc71;
}
#for-user > span:nth-child(1) button:active{
    background: #27ae60;
}
#for-user > span:nth-child(2){
    display: grid;
    align-items: center;
    align-content: center;
    grid-gap: 5px 0px;
}



/* FAQ */
.faq-container {
    width: 100%;
    position: relative;
}
.faq-question {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
}
.faq-answer {
    display: block;
    padding: 10px;
    background-color: #34495e;
    border: 2px solid #3498db;
    font-size: 0.85rem;
    border-top: none;
    position: absolute;
    color: #fff;
}